@import url(//db.onlinewebfonts.com/c/8bf03e662b63d69e50bb114b6bd9a60b?family=OrpheusW05-Regular);
@import url(//db.onlinewebfonts.com/c/81651a191b7129993b0871c834a19600?family=Orpheus+Pro);
@import url(//db.onlinewebfonts.com/c/6afb442b0dac4242aa6c3e77985e119f?family=Orpheus);

@font-face {font-family: "orpheuspro"; src: url("//db.onlinewebfonts.com/t/8bf03e662b63d69e50bb114b6bd9a60b.eot"); src: url("//db.onlinewebfonts.com/t/8bf03e662b63d69e50bb114b6bd9a60b.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8bf03e662b63d69e50bb114b6bd9a60b.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8bf03e662b63d69e50bb114b6bd9a60b.woff") format("woff"), url("//db.onlinewebfonts.com/t/8bf03e662b63d69e50bb114b6bd9a60b.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8bf03e662b63d69e50bb114b6bd9a60b.svg#OrpheusW05-Regular") format("svg"); }
@font-face {font-family: "orpheusprobold"; src: url("//db.onlinewebfonts.com/t/81651a191b7129993b0871c834a19600.eot"); src: url("//db.onlinewebfonts.com/t/81651a191b7129993b0871c834a19600.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/81651a191b7129993b0871c834a19600.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/81651a191b7129993b0871c834a19600.woff") format("woff"), url("//db.onlinewebfonts.com/t/81651a191b7129993b0871c834a19600.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/81651a191b7129993b0871c834a19600.svg#Orpheus Pro") format("svg"); }
@font-face {font-family: "orpheusproitalics"; src: url("//db.onlinewebfonts.com/t/6afb442b0dac4242aa6c3e77985e119f.eot"); src: url("//db.onlinewebfonts.com/t/6afb442b0dac4242aa6c3e77985e119f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/6afb442b0dac4242aa6c3e77985e119f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/6afb442b0dac4242aa6c3e77985e119f.woff") format("woff"), url("//db.onlinewebfonts.com/t/6afb442b0dac4242aa6c3e77985e119f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/6afb442b0dac4242aa6c3e77985e119f.svg#Orpheus") format("svg"); }

.App {
  background-color: blue;
  color: rgb(172, 182, 214);
  background-image: url("https://cloud-1g4r91ptx-hack-club-bot.vercel.app/0backgroundgif.gif");
  }


.section {
  margin: auto;
  width: 70%;
  padding: 10px;
  font-family: 'orpheuspro';
  height: 70vh;
  
}

.section h2 {
  line-height: auto;
  font-size: 3em;
  color: rgb(255, 255, 255);
}

.section h3 {
  line-height: auto;
  font-size: 3em;
  color: rgb(255, 255, 255);
}

.main {
  padding: 17em 0;
  text-align: center;
}
.main h1 {
  font-size: 17vh;
  font-family: 'orpheusprobold';
  opacity: 0.9;

}

@media (max-width: 1200px) {
  .main {
    padding: 22vh 0;
  }
  .section h2 {
    font-size: 2em;
  }
  .section h3 {
    font-size: 2em;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 24vh 0;
  }
  .main h1 {
    font-size: 10vh;
  }
  .section {
    width: 80%;
    font-size: 1.3em;
  }
}

